language: minimal
os: linux
cache: cargo
services:
- docker

before_install: docker pull clux/muslrust

script: docker run -v $PWD:/volume --rm -t clux/muslrust cargo test

before_deploy: docker run -v $PWD:/volume --rm -t clux/muslrust cargo build --release
deploy:
- provider: releases
  api_key: $GITHUB_TOKEN
  file: target/x86_64-unknown-linux-musl/release/tmst
  on:
    tags: true
  skip_cleanup: true
